html {
  background: url(bg.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "open sans", sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.content {
   margin: auto;
   text-align: center;
   font-size: 250%;
   top: 120px;
   color: #222222;
   width: 50%;
   position: relative;
}

.nav {
    top: 0px;
    text-align: center;
}

.nav a{
    text-decoration: none;
    color: gold;
}
